@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<table class="table table-bordered">
    <tr>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
    </tr>

    <tr>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
    </tr>

    <tr>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
        <td>Falan</td>
    </tr>
</table>

<button class="btn btn-danger">Sil</button> 