
@{
    Layout = null;
}

<!DOCTYPE html>

<h3>Mvc Proje Tablo Örneği</h3>
<br/>
<table>
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>şöyle olduda böyle oldu</td>
        <td>True</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>şöyle olduda böyle oldu</td>
        <td>True</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>şöyle olduda böyle oldu</td>
        <td>True</td>
    </tr>
</table>
