@using EntityLayer.Concrete
@model List<Header>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Başlık Ekleme</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Kategori</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.HeaderID</td>
            <td>@item.HeaderName</td>
            <td>@item.Category.CategoryName</td>
        </tr>
    }

</table>

<br />
<a href="/Header/AddHeader" class="btn btn-info">Yeni Başlık</a>